/****** Device Styles ********/


/* Tablet Landscape: 1024px */

@media only screen and (max-width: 1024px) {

	.wrapper {
		width: 90%;
	}
}

/* Tablet Portrait: 768px */

@media only screen and (max-width: 768px) {

	.wrapper {
		height: 100%;
		width: 90%;
		margin-top:0;
	}

	#avatar {
		width: 90%;
	}

	.side_bar {
		display: none;
	}

	.middle_col, .right_col { 
		width: 50%;
		margin: 0 auto;
		float: none; 
	}

	#small_project_examples {
		width: 400px;
		height: 450px;
	}


	.top_nav_wrapper {
		display: inline;
		text-align: center;
		background-color: #ccc;
	}
}

	/* nav bar */




/* Smartphone Landscape: 480px */



/* Smartphone Landscape: 320px */



/* Printer */