/****** Device Styles ********/


/* Tablet Landscape: 1024px */

@media only screen and (max-width: 1024px) {

	.wrapper {
		width: 90%;
	}
}

/* Tablet Portrait: 768px */

@media only screen and (max-width: 768px) {

	.wrapper {
		height: 100%;
		width: 90%;
		margin-top:0;
	}

	.side_bar {
		display: none;
	}

	#avatar {
		width: 90%;
	}


	.middle_col, .right_col, .full_col { 
		width: 50%;
		margin: 0 auto;
		float: none; 
	}

	#project_examples {
		width: 400px;
		height: 450px;
	}


	#top_nav_wrapper {
		display: inline;
		text-align: center;
	}

	.top_nav_bar nav a {
		font-size: 1.5em;
		background: #ccc;
		border-left: 1px solid black;
		border-right: 1px solid black;
	}

	#mobile_avatar {
		display: inline;
		width: 50%;
		border-radius: 100px;
		border: 2px solid black;
	}

	header h1 {
		display: inline;
	}

	#mobile_footer {
		display: block;
		text-align: center;
		text-shadow: 1px 1px #00FF80;
	}

		#mobile_footer a {
			color: #00FF80;
			text-shadow: 1px 1px #000;
		}

		#mobile_footer a:hover {
			color: #000;
			text-shadow: 1px 1px #00FF80;
		}

		div #contact_form {
			width: 80%;
		}

		.resources {
			width: 100%;
		}

}


/* Smartphone Landscape: 480px */

@media only screen and (max-width: 480px) {

		.middle_col {
			font-size: 1.1em;
			width: 80%;		
		}

		.form_button {
			width: 80%;
		}

		div #contact_form{
			width: 100%;
		}

		#mobile_avatar {
			width: 40%;
		}
}
/* Smartphone Landscape: 320px, max-width: 450px for work example resizing */

	@media only screen and (max-width: 450px) {
		.full_col {
			width: 80%;
		}

		#project_examples {
			display: none;
		}	

		#small_project_examples { 
			display: block;
			padding: 20px 50px 0px 50px;
		}

		#small_project_examples a { 
			text-shadow: 1px 1px #00FF80;;
		}
	}

/* Printer */

@media print {
	*, h1, h2, h3, h4, h5, h6, p, a, section, div, table {
		color: black;
	}
}