/* Make box model uniform across major browsers*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #ccc;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
}

/*header, .container {
	width: 100%;
}
*/
h1 {
	color: #00FF80;
	text-shadow: 1px 1px #000;
}

header h1 {
	display: inline;
}

#avatar {
	border-radius: 100%;
	border: 2px solid black;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	background-color: white;
}

b {
	text-shadow: 1px 1px #000;
	color: #00FF80;
}

a {
	display: block;
	text-shadow: 1px 1px #000;
	text-decoration: none;
	color: #00FF80;
}

a:hover {
	color: #000;
	text-shadow: 1px 1px #00FF80;
}


a img:hover {
	opacity: 0.5;
}

#small_project_examples {
	height: 450px;
	width: 410px;
	padding: 10px; 
	overflow: auto;
}

#small_project_examples img {
  border: 2px solid black;
}

figure {
	padding-bottom: 30px;
}

footer {
	background-color: #ccc;
	font-size: 90%;
	text-align: center;
}

/* wrapper children */

#side_bar {
	width: 20%;
	float: left;
} 

#about {
	width: 40%;
 	float: left;
}

#small_project_examples { 
	width: 40%;
	float: right;
}