/* Make box model uniform across major browsers*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
}

h1 {
	color: #00FF80;
	text-shadow: 1px 1px #000;
}

#avatar {
	border-radius: 100%;
	border: 2px solid black;
}

b {
	text-shadow: 1px 1px #000;
	color: #00FF80;
}

a {
	text-shadow: 1px 1px #000;
	text-decoration: none;
	color: #00FF80;
}

a:hover {
	color: #000;
	text-shadow: 1px 1px #00FF80;
}


a img:hover {
	opacity: 0.5;
}

figure {
	padding-bottom: 30px;
}

/* wrapper parent */

.wrapper {
	height: 450px;
	width: 960px;
	margin: 40px auto;
	background-color: white;
	margin-top: 50px;
}

/* wrapper children */

#side_bar {
	background-color: #00FF80;
	height: 100%;
	width: 20%;
	float: left;
	text-align: center;
	padding-top: 30px;
} 

#side_bar:a {
	display: block;
}

#about {
	height: 100%; 
	padding-top: 50px;
	padding-left: 20px;
	width: 40%;
 	float: left;
 	background: #ccc;
}

#small_project_examples { 
	background: #ccc;
	height: 100%;
	width: 40%;
	float: right;
	padding: 10px; 
	overflow: auto;
}

#small_project_examples img {
  border: 2px solid black;
}

footer {
	background-color: inherit;
	font-size: 90%;
	text-align: center;
}